@import "../../../../Assets/styles/index.scss";

.newsPage {
    --padding: 160px 25px 190px;
    --grid: 1fr 1fr;
    --rowGap: 80px;
    --sizeImg: 390px;
    --paddingDate: 10px 17px;
    --fsCommon: 16px;
    --sizePlayIcon: 89px;
    --fsTit: 24px;
    --paddingTit: 21px 0;
    --ptPagination: 112px;
    background: #f6f6f6;

    &-container {
        padding: var(--padding);
        max-width: $maxWidth;
        margin: 0 auto;

        .list {
            display: grid;
            grid-template-columns: var(--grid);
            column-gap: 24px;
            row-gap: var(--rowGap);

            .item {
                cursor: pointer;

                &-img {
                    height: var(--sizeImg);
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .title {
                    font-size: var(--fsTit);
                    font-family: $pretendardBold;
                    padding: var(--paddingTit);
                }

                .detail {
                    font-size: var(--fsCommon);
                    color: #999;
                }

                .date {
                    padding-top: 20px;
                    font-size: var(--fsCommon);
                    color: #999;
                }
            }
        }

        .pagination {
            display: flex;
            justify-content: center;
            padding-top: var(--ptPagination);
        }
    }

    @media screen and (max-width: 767px) {
        --padding: 60px 20px 90px;
        --grid: 1fr;
        --rowGap: 40px;
        --sizeImg: 300px;
        --paddingDate: 10px 17px;
        --fsCommon: 14px;
        --sizePlayIcon: 60px;
        --fsTit: 20px;
        --paddingTit: 12px 0;
        --ptPagination: 112px;
    }
}